<app-modal [modalId]="modalId">
  <div class="modal-header">
    <div class="container">
      <h2 class="text-center">
        {{isEdit ? 'Editar' : 'Crear'}} territorio
      </h2>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="territoryFormGroup" (ngSubmit)="onSubmit()" id="territoryForm">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" formControlName="name" maxlength="50" placeholder="Nombre">
        <label class="floatingInput" for="name">Nombre</label>
      </div>
      <div class="mb-3">
        <label class="" for="description">Descripción</label>
        <textarea class="form-control" id="description" rows="3" maxlength="250" formControlName="description">
        </textarea>
      </div>
      <div class="mb-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-success me-2">
          {{isEdit ? 'Editar' : 'Crear'}}
        </button>
        <button type="button" (click)="closeModal()" class="btn btn-secondary">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</app-modal>