<div>
  <h1 class="text-center">Gestión de Manzanas</h1>
  <div class="my-2 d-flex justify-content-end">
    <button type="button" class="btn btn-primary me-2 fw-bold" (click)="openBlockForm()">Nuevo</button>
    <button type="button" class="btn btn-info text-white fw-bold" (click)="getData()">
      <span class="me-1">Buscar</span>
      <i class="fa-solid fa-search"></i>
    </button>
  </div>
  <div>
    <div class="d-flex my-3 col-12">
      <div class="d-flex align-items-center col-12">
        <label for="territoryIdFilter" class="me-2">
          Territorio 
        </label>
        <input type="text" class="form-control me-2 text-center" id="territoryName" disabled value="3"
          [(ngModel)]="territoryName"
        >
        <button type = "button" class="btn btn-info" (click)="openTerritoryManagement()">
          <i class="fa-solid fa-magnifying-glass text-white"></i>
        </button>
      </div>
    </div>
    <app-blocks-tables></app-blocks-tables>
  </div>
</div>
<app-block-form [modalId]="blockFormModalId" #blockForm (saveEvent)="onSaveBlock()"></app-block-form>
<app-modal [modalId]="selectTerritoryModalId" #territoriesModalComponent>
  <app-territory-management [isForSelection]="true" (onSelectTerritory)="onSelectTerritory($event)"></app-territory-management>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary m-2" (click)="closeTerritoryManagement()">Cerrar</button>
  </div>
</app-modal>
