<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="modalLabel"  aria-hidden="true" data-bs-backdrop="static"
#modalRef
>
  <div class="modal-dialog" style="cursor: default;">
    <div class="modal-content shadow" #modalContent>
      <div class="modal-header" style="height: 30px; background-color: #f8f9fa; cursor: move;"
        
      (mousedown)="startDragging($event)"
      (mouseup)="stopDragging()"
      (mousemove)="drag($event)"
      >
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>