<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="modalLabel"  aria-hidden="true" data-bs-backdrop="static"
#modalRef
>
  <div class="modal-dialog" style="cursor: default;">
    <div class="modal-content shadow" #modalContent>
      <div class="modal-header bg-info" style="height: 30px;"
      (mousedown)="startDragging($event)"
      (mouseup)="stopDragging()"
      (mousemove)="drag($event)"
      style="cursor: move;">
      </div>
      <ng-content></ng-content>
      <div class="modal-footer">
        <button type="button" class="d-none" data-bs-dismiss="modal"
          [id]="closeModalBtnId"></button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>