<app-modal [modalId]="modalId" #main>
    <div class="modal-header">
      <div class="container">
        <h2 class="text-center">
          {{isEdit ? 'Editar' : 'Crear'}} Manzana
        </h2>
      </div>
    </div>
    <div class="modal-body">
      <form [formGroup]="blockFormGroup" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input class="form-control" placeholder="Nombre" formControlName="name" id="name" maxlength="50">
          <label for="name">Nombre</label>
        </div>
        <div class="d-flex align-items-center mb-3">
          <label for="territoryIdFilter" class="me-2">
            Territorio 
          </label>
          <input type="text" class="form-control me-2 text-center" id="territoryName"
            formControlName="territoryName"
          >
          <button type = "button" class="btn btn-info" (click)="openTerritoryManagement()">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="mb-3 form-floating">
          <textarea class="form-control" id="description" rows="3" maxlength="250" formControlName="description" placeholder="Descripción" style="height: 150px">
          </textarea>
          <label for="description">Descripción</label>
        </div>
        <div class="mb-3 d-flex justify-content-end">
          <button type="submit" class="btn btn-success me-2">
            {{isEdit ? 'Editar' : 'Crear'}}
          </button>
          <button type="button" (click)="closeModal()" class="btn btn-secondary">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  
</app-modal>
<app-modal [modalId]="territoryManagementModalId" #territoryManagement>
  <app-territory-management [isForSelection]="true" (onSelectTerritory)="setTerritory($event)"></app-territory-management>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary m-2" (click)="closeTerritoryManagement()">Cerrar</button>
  </div>
</app-modal>
